*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin:0
}

#flex-box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding:1rem;

}
.container{
    border: 1px solid black;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    padding:1rem;
}
label{
    flex-grow:1
}
input{
    flex-grow:3;
}
.customersList{
    display: flex;
    flex-direction: column;
    
}
.VIP{
    background: dodgerblue;
    display: flex;
    height:3em;
    margin: 0.5em 0;
    color:#fff;
    padding:1em;
    
}



